h1 {
    color: blue;
    text-align: center;
}
p {
    font-size: 18px;
    color: gray;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden; /* faz com que o conteúdo que ultrapassa os limites do elemento seja ocultado */
}
li {
    float: left; /* coloca os itens lado a lado. (old) */
}
a {
    display: block; /* faz o link ocupar toda a célula do menu. */
    color: white;
    padding: 14px 20px; /* aumenta a área clicável. */
    text-decoration: none;
}