/* *= aplica a todos os elementos */
*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}
.destaque{
    color: blue;
    font-weight: bold;
}
#titulo-principal{
    text-align: center;
    color: red;
}
p{
    font-size: 18px;
    line-height: 1.5;
}
h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;
}
h4{
    line-height: 1.5; /* espaço entre linhas */
    letter-spacing: 2px; /* espaço entre letras */
    word-spacing: 5px; /* espaço entre palavras */
}
img {
    width: 200px;
    border: 2px solid black;
    display: block;
    margin: auto;
}
ul{
    list-style-type: none;
}