button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

input:focus {
    outline: 1px solid orange;
}

p:first-child {
    font-weight: bold;
}

li:last-child {
    color: red
}

tr:nth-child(even) { /* linhas pares */
    background-color: #f2f2f2;
}

tr:nth-child(odd) { /* linhas ímpares */
    background-color: #919191;
}

table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
}